<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
  </head>
  <body>    
      <div class="jumbotron text-center">
          <h1><span class="fa fa-user"></span> Welcome</h1>
  
          <p>Login or Register with:</p>
  
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
      </div>
    <br>   
    <div id="root"></div>

    <script type="text/javascript" src="/build/bundle.js"></script>
  </body>
</html>
